<div class=" content">
  <div class=" row">
    <div class=" col-lg-12">
      <app-three-way-chart 
        title="Áramerősség (mA)" chartid="chartBig1" endPointName="amp" measureUnit="mA"
        [inputData]="[
              {type: 20481, rgb: '176,19,150', title: 'L1 Fázis áram'},
              {type: 20483, rgb: '29,140,248', title: 'L2 Fázis áram'},
              {type: 20485, rgb: '0,214,180', title: 'L3 Fázis áram'}
        ]"
        rgb1="176,19,150" rgb2="29,140,248" rgb3="0,214,180">
      </app-three-way-chart>
    </div>
    <div class=" col-lg-12">
      <app-three-way-chart
        title="Feszültség (mV)" chartid="chartBig2" endPointName="volt" measureUnit="mV"
        [inputData]="[
              {type: 20510, rgb: '236,37,13', title: 'L1 Fázis feszültség'},
              {type: 20512, rgb: '255,255,0', title: 'L2 Fázis feszültség'},
              {type: 20514, rgb: '247,249,249', title: 'L3 Fázis feszültség'}
        ]"
        rgb1="236,37,13" rgb2="255,255,0" rgb3="247,249,249">
      </app-three-way-chart>
    </div>
    <div class=" col-lg-12">
      <app-three-way-chart 
        title="Hatásos teljesítmény (W)" chartid="chartBig3" endPointName="pow" measureUnit="W"
        [inputData]="[
              {type: 20539, rgb: '18,164,217', title: 'Háromfázisú összes hatásos teljesítmény'}
        ]"
        rgb1="226,216,16" rgb2="217,19,138" rgb3="18,164,217">
      </app-three-way-chart>
    </div>
    <div class=" col-lg-12">
      <app-three-way-chart
        title="Meddő teljesítmény (VAr)" chartid="chartBig4" endPointName="pow" measureUnit="VAr"
        [inputData]="[
              {type: 20541, rgb: '18,164,217', title: 'Háromfázisú összes meddő teljesítmény'}
        ]"
        rgb1="226,216,16" rgb2="217,19,138" rgb3="18,164,217">
      </app-three-way-chart>
    </div>
    <div class=" col-lg-12">
      <app-three-way-chart 
        title="Látszólagos teljesítmény (VA)" chartid="chartBig5" endPointName="pow" measureUnit="VA"
        [inputData]="[
              {type: 20545, rgb: '18,164,217', title: 'Háromfázisú összes látszólagos teljesítmény'}
        ]"
        rgb1="226,216,16" rgb2="217,19,138" rgb3="18,164,217">
      </app-three-way-chart>
    </div>
    <div class=" col-lg-12">
      <app-three-way-chart 
        title="Teljesítmény tényező (Cos Fi)" chartid="chartBig6" endPointName="pow" measureUnit=""
        [inputData]="[
              {type: 20549, rgb: '18,164,217', title: 'Háromfázisú teljesítmény tényező'}
        ]"
        rgb1="226,216,16" rgb2="217,19,138" rgb3="18,164,217">
      </app-three-way-chart>
    </div>
    <div class=" col-lg-12">
      <app-three-way-chart
        title="Hatásos fogyasztás (kWh)" chartid="chartBig7" endPointName="kWh"
        [inputData]="[
              {type: 20593, rgb: '0,0,0', title: 'Pozitív háromfázisú összes hatásos fogyasztás'},
              {type: 20595, rgb: '255,255,255', title: 'Negatív háromfázisú összes hatásos fogyasztás'}
        ]"
        rgb1="226,216,16" rgb2="217,19,138" rgb3="18,164,217">
      </app-three-way-chart>
    </div>
    <div class=" col-lg-12">
      <app-three-way-chart
        title="Meddő fogyasztás (kVArh)" chartid="chartBig8" endPointName="kWh" measureUnit="kVArh"
        [inputData]="[
              {type: 20599, rgb: '0,0,0', title: 'Pozitív háromfázisú összes meddő fogyasztás'},
              {type: 20601, rgb: '255,255,255', title: 'Negatív háromfázisú összes meddő fogyasztás'}
        ]"
        rgb1="226,216,16" rgb2="217,19,138" rgb3="18,164,217">
      </app-three-way-chart>
    </div>
  </div>
</div>  




