.infoButton{
    border:1px solid black;
    color: #344675;
    border-radius: 50%;
    padding: 5px;
    background-color:#151625;
}
.infoButton:hover{
    background-color:#22233a;
    color:white;
    cursor: pointer;
}





// TOGGLE BUTTON

.switch {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 68px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .6s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 52px;
    width: 52px;
    left: 8px;
    bottom: 8px;
    background-color: white;
    transition: .6s;
  }
  
  input:checked + .slider {
    background-color: hsl(224, 72%, 36%);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px hsl(224, 72%, 36%);
  }
  
  input:checked + .slider:before {
    transform: translateX(52px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }