<div class="content">
    <div class="row">
        <div class=" col-lg-12">
            <app-three-way-chart 
              title="Hatásos teljesítmény (kW)" chartid="chartBig3" endPointName="pow" measureUnit="kW"
              [inputData]="[
                    {type: 20538, rgb: '18,164,217', title: 'Háromfázisú összes hatásos teljesítmény'}
              ]"
              rgb1="226,216,16" rgb2="217,19,138" rgb3="18,164,217">
            </app-three-way-chart>
          </div>
    </div>
</div>