.dropdown-menu { 
    max-height: 280px; 
    overflow-y: auto; 
    background-attachment: local, local, scroll, scroll; 
}
.not_seen{
    background: #fd5d93;
    color: #ffffff;
    border-radius: 0.875rem;
    height: 6px;
    width: 6px;
    position:absolute;
    text-align: center;
    font-size: 12px;
    font-weight: 800;
    top:15px;
    right:10px;
    border: 1px solid #fd5d93;
}
.not_seen.info{
    background: #419ef9;
    border-color: #419ef9;
}
.not_seen.danger{
    background: #fd77a4;
    border-color: #fd77a4;
}
.not_seen.primary{
    background: #e66ad2;
    border-color: #e66ad2;
}
.not_seen.warning{
    background: #ff9f89;
    border-color: #ff9f89;
}
.not_seen.success{
    background: #00bf9a;
    border-color: #00bf9a;
}