<!-- partial:index.partial.html -->
<div class="body">

  <div id="bg"></div>

  <form [formGroup]="authForm" (ngSubmit)="loginUser()">
    <div class="form-field">
      <input type="text" placeholder="Username" id="username" name="username" required formControlName="username" />
    </div>
    <div *ngIf="invalidCredentials" class="alert alert-danger">
      {{message}}
    </div>
    <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="alert alert-danger">
      <div *ngIf="username?.errors?.['required']">
        Username is required.
      </div>
      <div *ngIf="username?.errors?.['minlength']">
        Username must be at least 4 characters long.
      </div>
      <div *ngIf="username?.errors?.['forbiddenName']">
        Username cannot be admin.
      </div>
    </div>

    <div class="form-field pass">
      <input type="password" id="password" placeholder="Password" name="password" formControlName="password" required
        minlength="4" />
    </div>
    <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="alert alert-danger">
      <div *ngIf="password?.errors?.['required']">
        Password is required.
      </div>
      <div *ngIf="password?.errors?.['minlength']">
        Password must be at least 4 characters long.
      </div>
    </div>
    <div *ngIf="invalidCredentials" class="alert alert-danger">
      {{message}}
    </div>
    <div class="form-field">
      <button class="btn" type="submit">Log in</button>
    </div>
  </form>
</div>